/* Helper Classes */

.text-start,
.text-left {
	text-align: left !important;
}

.text-end,
.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.clearfix {
	clear: both;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.fs-200 {
	font-size: 200% !important;
}
.fs-190 {
	font-size: 190% !important;
}
.fs-180 {
	font-size: 180% !important;
}
.fs-170 {
	font-size: 170% !important;
}
.fs-160 {
	font-size: 160% !important;
}
.fs-150 {
	font-size: 150% !important;
}
.fs-140 {
	font-size: 140% !important;
}
.fs-130 {
	font-size: 130% !important;
}
.fs-120 {
	font-size: 120% !important;
}
.fs-110 {
	font-size: 110% !important;
}
.fs-100 {
	font-size: 100% !important;
}
.fs-90 {
	font-size: 90% !important;
}
.fs-80 {
	font-size: 80% !important;
}
.fs-70 {
	font-size: 70% !important;
}
.fs-60 {
	font-size: 60% !important;
}
.fs-50 {
	font-size: 50% !important;
}

.w-auto {
	width: auto !important;
}
.w-100 {
	width: 100% !important;
}
.w-90 {
	width: 90% !important;
}
.w-80 {
	width: 80% !important;
}
.w-70 {
	width: 70% !important;
}
.w-60 {
	width: 60% !important;
}
.w-50 {
	width: 50% !important;
}
.w-40 {
	width: 40% !important;
}
.w-30 {
	width: 30% !important;
}
.w-20 {
	width: 20% !important;
}
.w-10 {
	width: 10% !important;
}

.rotate-90 {
	transform: rotate(90deg);
}
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-270 {
	transform: rotate(270deg);
}
.flip-x {
	transform: scale(-1, 1);
}
.flip-y {
	transform: scale(1, -1);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}

.flex-5 {
	flex: 5;
}

.flex-6 {
	flex: 6;
}

.flex-7 {
	flex: 7;
}

.flex-8 {
	flex: 8;
}

.flex-9 {
	flex: 9;
}

.flex-10 {
	flex: 10;
}

.flex-11 {
	flex: 11;
}

.flex-12 {
	flex: 12;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-center {
	justify-content: center !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.justify-content-around {
	justify-content: space-around !important;
}

.justify-content-evenly {
	justify-content: space-evenly !important;
}

.align-items-start {
	align-items: flex-start !important;
}

.align-items-end {
	align-items: flex-end !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-baseline {
	align-items: baseline !important;
}

.align-items-stretch {
	align-items: stretch !important;
}

.align-content-start {
	align-content: flex-start !important;
}

.align-content-end {
	align-content: flex-end !important;
}

.align-content-center {
	align-content: center !important;
}

.align-content-between {
	align-content: space-between !important;
}

.align-content-around {
	align-content: space-around !important;
}

.align-content-stretch {
	align-content: stretch !important;
}

.align-self-auto {
	align-self: auto !important;
}

.align-self-start {
	align-self: flex-start !important;
}

.align-self-end {
	align-self: flex-end !important;
}

.align-self-center {
	align-self: center !important;
}

.align-self-baseline {
	align-self: baseline !important;
}

.align-self-stretch {
	align-self: stretch !important;
}

.m-auto {
	margin: auto !important;
}
.mt-auto,
.my-auto {
	margin-top: auto !important;
}
.mr-auto,
.mx-auto {
	margin-right: auto !important;
}
.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

.m-0 {
	margin: 0 !important;
}
.mt-0,
.my-0 {
	margin-top: 0 !important;
}
.mr-0,
.mx-0 {
	margin-right: 0 !important;
}
.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
	margin-left: 0 !important;
}
.m-1 {
	margin: 0.25rem !important;
}
.mt-1,
.my-1 {
	margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
	margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
	margin-left: 0.25rem !important;
}
.m-2 {
	margin: 0.5rem !important;
}
.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}
.m-3 {
	margin: 1rem !important;
}
.mt-3,
.my-3 {
	margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}
.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
	margin-left: 1rem !important;
}
.m-4 {
	margin: 1.5rem !important;
}
.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
	margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
	margin-left: 1.5rem !important;
}
.m-5 {
	margin: 3rem !important;
}
.mt-5,
.my-5 {
	margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}
.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
	margin-left: 3rem !important;
}

html[dir="ltr"] .ms-0 {
	margin-left: 0 !important;
}
html[dir="rtl"] .ms-0 {
	margin-right: 0 !important;
}
html[dir="ltr"] .ms-1 {
	margin-left: 0.25rem !important;
}
html[dir="rtl"] .ms-1 {
	margin-right: 0.25rem !important;
}
html[dir="ltr"] .ms-2 {
	margin-left: 0.5rem !important;
}
html[dir="rtl"] .ms-2 {
	margin-right: 0.5rem !important;
}
html[dir="ltr"] .ms-3 {
	margin-left: 1rem !important;
}
html[dir="rtl"] .ms-3 {
	margin-right: 1rem !important;
}
html[dir="ltr"] .ms-4 {
	margin-left: 1.5rem !important;
}
html[dir="rtl"] .ms-4 {
	margin-right: 1.5rem !important;
}
html[dir="ltr"] .ms-5 {
	margin-left: 3rem !important;
}
html[dir="rtl"] .ms-5 {
	margin-right: 3rem !important;
}
html[dir="ltr"] .ms-auto {
	margin-left: auto !important;
}
html[dir="rtl"] .ms-auto {
	margin-right: auto !important;
}

html[dir="ltr"] .me-0 {
	margin-right: 0 !important;
}
html[dir="rtl"] .me-0 {
	margin-left: 0 !important;
}
html[dir="ltr"] .me-1 {
	margin-right: 0.25rem !important;
}
html[dir="rtl"] .me-1 {
	margin-left: 0.25rem !important;
}
html[dir="ltr"] .me-2 {
	margin-right: 0.5rem !important;
}
html[dir="rtl"] .me-2 {
	margin-left: 0.5rem !important;
}
html[dir="ltr"] .me-3 {
	margin-right: 1rem !important;
}
html[dir="rtl"] .me-3 {
	margin-left: 1rem !important;
}
html[dir="ltr"] .me-4 {
	margin-right: 1.5rem !important;
}
html[dir="rtl"] .me-4 {
	margin-left: 1.5rem !important;
}
html[dir="ltr"] .me-5 {
	margin-right: 3rem !important;
}
html[dir="rtl"] .me-5 {
	margin-left: 3rem !important;
}
html[dir="ltr"] .me-auto {
	margin-right: auto !important;
}
html[dir="rtl"] .me-auto {
	margin-left: auto !important;
}

html[dir="ltr"] .ps-0 {
	padding-left: 0 !important;
}
html[dir="rtl"] .ps-0 {
	padding-right: 0 !important;
}
html[dir="ltr"] .ps-1 {
	padding-left: 0.25rem !important;
}
html[dir="rtl"] .ps-1 {
	padding-right: 0.25rem !important;
}
html[dir="ltr"] .ps-2 {
	padding-left: 0.5rem !important;
}
html[dir="rtl"] .ps-2 {
	padding-right: 0.5rem !important;
}
html[dir="ltr"] .ps-3 {
	padding-left: 1rem !important;
}
html[dir="rtl"] .ps-3 {
	padding-right: 1rem !important;
}
html[dir="ltr"] .ps-4 {
	padding-left: 1.5rem !important;
}
html[dir="rtl"] .ps-4 {
	padding-right: 1.5rem !important;
}
html[dir="ltr"] .ps-5 {
	padding-left: 3rem !important;
}
html[dir="rtl"] .ps-5 {
	padding-right: 3rem !important;
}

html[dir="ltr"] .pe-0 {
	padding-right: 0 !important;
}
html[dir="rtl"] .pe-0 {
	padding-left: 0 !important;
}
html[dir="ltr"] .pe-1 {
	padding-right: 0.25rem !important;
}
html[dir="rtl"] .pe-1 {
	padding-left: 0.25rem !important;
}
html[dir="ltr"] .pe-2 {
	padding-right: 0.5rem !important;
}
html[dir="rtl"] .pe-2 {
	padding-left: 0.5rem !important;
}
html[dir="ltr"] .pe-3 {
	padding-right: 1rem !important;
}
html[dir="rtl"] .pe-3 {
	padding-left: 1rem !important;
}
html[dir="ltr"] .pe-4 {
	padding-right: 1.5rem !important;
}
html[dir="rtl"] .pe-4 {
	padding-left: 1.5rem !important;
}
html[dir="ltr"] .pe-5 {
	padding-right: 3rem !important;
}
html[dir="rtl"] .pe-5 {
	padding-left: 3rem !important;
}
